{% extends 'blog/base.html' %}
{% load static from staticfiles %}

<!-- @import url('https://fonts.googleapis.com/css?family=Lobster'); -->

{% block extra_head %}
      
       <style>
           .post_photo { max-width: 400px;
                         max-height: 350px;
                        }
          
                 
       </style>
 {% endblock %}

{% block content %}

 <div class="container-fluid p-0">

   
     
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="">
        <div class="my-auto">
         <!--  <h2 class="mb-5">3D PRINTABLE FILES & 3D MODELS</h2> -->
           <h2 class="mb-5">gallery</h2>
               <p class="text-primary"></p>
               

                <hr class="m-0">
        </div>
    
         <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row mb-4">
          <div class="resume-content mr-auto col-6">
          <img src="http://res.cloudinary.com/yesnet/image/upload/v1475557197/ch1005_xb8u3v.png" class="img-responsive pt-3"
          style="width: 350px;height: 350px" alt="">
          <div>도시야경</div>
              <p>10세</p>
          </div>

          <div class="resume-content mr-auto col-6">
             
            
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1475557199/ch1006_y6tvyz.png" alt="" class=img-responsive pt-3" 
               style="width: 350px;height: 350px"/>
                
              <div>거북이</div>
              <p>8세</p>
            </div>
            
          </div>
           <div class="resume-item d-flex flex-column flex-md-row mb-4">
            <div class="resume-content mr-auto col-6">
              
             <img src="http://res.cloudinary.com/yesnet/image/upload/v1475557198/ch1003_qsqgdn.png" class=img-responsive pt-3" 
               style="width: 350px;height: 350px"  alt="" />
               
              <div>포도밭</div>
              <p>9세</p>
            </div>
             <div class="resume-content mr-auto col-6">
            
             
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1475557198/ch1002_gkhsdu.png" class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
                 
              <div>강강술래 </div>
              <p>9세
</p>
            </div>
           </div>
           <div class="resume-item d-flex flex-column flex-md-row mb-4">
            <div class="resume-content mr-auto col-6">
            
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1475557197/ch1001_bt2vxr.png" class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
                 
              <div>산책로</div>
              <p>11세
</p>
            </div>
             <div class="resume-content mr-auto col-6">
              
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1472610092/ch316_kjcm1x.png" class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
               
              <div>옥수수</div>
              <p>13세
</p>
            </div>
            
            <!-- <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div> -->
          </div>
 
         <div class="resume-item d-flex flex-column flex-md-row mb-4">
            <div class="resume-content mr-auto col-6">
             
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1472610093/ch315_hqweiu.png"  class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
                 
              <div>집앞</div>
              <p>11세
</p>
            </div>
             <div class="resume-content mr-auto col-6">
             
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1472610091/ch314_ht6yaq.png" class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
                
              <div>벽돌</div>
              <p>11세
</p>
            </div>
            
            <!-- <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div> -->
          </div>
 
          <div class="resume-item d-flex flex-column flex-md-row mb-4">
            <div class="resume-content mr-auto col-6">
             
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1472610091/ch311_d60lpz.png"  class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
                 
              <div>수박 먹어요</div>
              <p>8세
</p>
            </div>
             <div class="resume-content mr-auto col-6">
             
               <img src="http://res.cloudinary.com/yesnet/image/upload/v1472610091/ch312_wg5g7j.png" class=img-responsive pt-3" 
               style="width: 350px;height: 350px" alt="" />
                
              <div>공작새</div>
              <p>7세
</p>
            </div>
            
            <!-- <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div> -->
          </div>
        

        </div>
      </section>
    </div>

  
 
             
  
 



 {% endblock  %} 

